
/*init */

:root {
  --color1:#e0e0e0 ;
  --color2:#1f1f1f ;
}

body{
  position:relative;
  
}
.black-over{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8) !important;
}
/*** navbar ***/
#nav1{
  background-color: transparent ;
}
.navdark{
  opacity:0.8 !important;
  background-color: #000 !important;
}
.navbar-link {
  text-decoration:none !important;
  text-transform:uppercase;

 
}
nav ul a:hover {
 color:rgba(f,f,f,1);
}
nav ul li{
  padding:0 15px;

}
nav a:first-letter{
  font-size:1.3rem;
  font-style:italic;
  font-weight:bold;
}
/****header ***/
.carousel-inner img {

  width:auto;
  max-height:760px !important;
  min-height:400px !important;
  



}

/***** section features ****/
.features i{
  font-size:6rem;

}
/***** section ready ****/

.pc .jumbotron-fluid {
  background-image:url('../img/lights.jpg');
  background-attachment: fixed;
}


/***** section pc ****/
.pc,.see{
  position: relative;
  min-height:266px;
}

.see .jumbotron {
  background-image:url('../img/media.jpg');
  background-attachment: fixed;
}

/***** section see ****/
.see i {
  font-size:2rem;
}


/***** section galery ****/
.galery{
  position:relative;
}
.galery img{
cursor:pointer;
}

/**Modal Galery */
.wrapper {
  background-color:rgba(0,0,0,0.7);
  width: 100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  
}
.wrapper .modalG{
  background:#fff;
  width:35%;
  height:50%;
  position:absolute;
  top:128px;
  left:35%;

}
.modalG-header{
  width:100%;
  height:25px;
}
.modalG-header .close{
cursor:pointer;
}
/*********footer ********/
footer{
  background-color:#000;
}

/************* ABOUT PAGE ***********************************************************/


/***************banner*************/
.about-banner {

  max-height:400px !important;
}
.about-banner .jumbotron {
  background-image:url(../img/image1.jpg) ;
  background-attachment:fixed ;
 
}



/************** section What We Do ************/
.about-do img{
  margin-top:-50px !important;
}




/************* Services PAGE ***********************************************************/


/***************banner*************/
.about-banner {

  max-height:400px !important;
}
.about-banner .jumbotron {
  background-image:url(../img/image2.jpg) ;
  background-attachment:fixed ;
 
}

/************* Blog PAGE ***********************************************************/
/***************banner*************/
.blog-banner {

  max-height:400px !important;
}
.blog-banner .jumbotron {
  background-image:url(../img/image3.jpg) ;
  background-attachment:fixed ;
 
}

/************* contact PAGE ***********************************************************/
/***************banner*************/
.contact-banner {

  max-height:400px !important;
}
.contact-banner .jumbotron {
  background-image:url(../img/image1.jpg) ;
  background-attachment:fixed ;
 
}


